#searchmodfbox_list_records{
	width:700px !important;
	min-height:150px;
}

#fbox_list_records{
	width:700px !important;
	min-height:150px;
}

#t_list_records{
	height:35px;
	padding:4px;
}

.btntmpl{
	padding:3px;
}

.clear-margin {
    margin:0 !important;
}
.ui-jqgrid .ui-jqgrid-titlebar
{
	padding: 0.6em 0.3em 0.3em 0.6em;
	height:32px;
}

.ui-jqgrid-btable .ui-jqgrid tr.jqgrow td {vertical-align:top; }

.ui-jqgrid tr.jqgrow td{ 

/*white-space: pre-line; */

 white-space: normal !important;
 height:auto;

}

.col-md-5{
	padding-left: 0px;
	padding-right: 0px;
	text-align:left;
	display:inline-block;
}
.col-md-7{
	/*padding-left: 0px;
	padding-right: 0px;*/
	text-align:left;
	display:inline-block;
}

.col-md-4{
	padding-left: 0px;
	padding-right: 0px;
	text-align:left;
	display:inline-block;
	width:25%
}
.col-md-8{
	/*padding-left: 0px;
	padding-right: 0px;*/
	text-align:left;
	display:inline-block;
	width:74%
}

.clear{
	clear:both;
}

pre{
	background-color: transparent;
	border: none;
	border-radius: none;
	font-family: Verdana;
	font-size:11px;
	font-weight:normal;
	color:#000;
	word-break: keep-all;
}

table{
	border-collapse: none;
}
#groups li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 18px; list-style-type: none; }
#groups li span { position: absolute; margin-left: -1.3em; }

h6{
	margin-bottom: 0px;
	margin-top: 0px;
	padding:4px;
}

.customlink{
	text-decoration:underline;
}
