.leadstable {
    border-collapse: collapse;
    font-family:arial;
    width: 100%;
}
.leadstable td, .leadstable th {
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 3px 7px 2px;
}
.leadstable th {
    background-color: #ddd;
    color: #000;
    font-size: 13px;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
}
.leadstable tr.alt td {
    background-color: #f3f4f8;
    color: #000;
}
