/* For Appointments */
.appt{
	color: #4682B4;
}

.apptSelf,
.apptSelf div,
.apptSelf span {
    background-color: #4682B4;
    border-color: #4682B4;
    color: #ffffff;
}

.apptOther div{
   color: #ffffff;
}
.apptOther, .apptOther span {
    background-color: #4682B4;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:0.5;
    zoom: 1;
}

/* For Current Edit Appointments */
.ceappt{
	color: #000;
}

.ceapptSelf,
.ceapptSelf div,
.ceapptSelf span {
    background-color: #000;
    border-color: #000;
    color: #ffffff;
}

.ceapptOther div{
   color: #ffffff;
}
.ceapptOther, .ceapptOther span {
    background-color: #000;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:0.5;
    zoom: 1;
}

/* For Events */

.event{
	color: #a32929;
}

.eventSelf,
.eventSelf div,
.eventSelf span {
    background-color: #a32929;
    border-color: #d96666;
    color: #ffffff;
}

.eventOther{
   color: #ffffff;
}
.eventOther div{
   color: #ffffff;
   background-color: #a32929;
   border-color: #d96666;
}
.eventOther, .eventOther span {
    background-color: #a32929;
    border-color: #d96666;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:0.5;
    zoom: 1;
}

/* For Tasks */
.task{
	color: #8c66d9;
}

.taskSelf,
.taskSelf div,
.taskSelf span {
    background-color: #5229a3;
    border-color: #8c66d9;
    color: #ffffff;
}

.taskOther div{
   color: #ffffff;
}
.taskOther,
.taskOther span {
    background-color: #5229a3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:0.5;
    zoom: 1;
}

/* For Availability */

.avail{
	color: #0d7813;
}

.availSelf,
.availSelf div,
.availSelf span {
    background-color: #3CB371;
    border-color: #0d7813;
    color: #ffffff;
}

.availOther{

}
.availOther div{
   color: #ffffff;
   background-color: #3CB371;
   border-color: #0d7813;
}

.availOther, .availOther span {
    background-color: #3CB371;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:0.5;
    zoom: 1;
}

