.dataTables_filter {
float:left;
text-align: left;

}
div.dataTables_info {
padding-left:73%;
}
.dataTables_info {
height: 40px;
line-height: 40px;
float: left;
padding-top:2px;
}
#dt_example {
    color: #333333;
    font: 80%/1.45em "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}
.dataTables_filter label{
   
}
.dataTables_length {
    float: right;
text-align: right;
}
.dataTables_length label{
float:right;
margin-right:0px;
padding-right:0px;
padding-bottom:10px;
height: 40px;
line-height: 40px;
}


.table-header {
  border-bottom: 1px solid #eaebef;
  height: 110px;
background: -moz-linear-gradient(center top , #FDFDFD, #EAEAEA) repeat scroll 0 0 / 100% auto #EAEAEA;
}
.table-footer {
  border-bottom: 1px solid #eaebef;
  height: 110px;
background: -moz-linear-gradient(center top , #FDFDFD, #EAEAEA) repeat scroll 0 0 / 100% auto #EAEAEA;
}
.dataTables_paginate {
   padding-top:0px;
    float: right;
    text-align: right;
}
.paging_full_numbers {
   height: 40px;
line-height: 40px;
}
