/** all devices and responsive browser windows **/

@media screen and (max-width: 860px) {
	body {
		padding: 10px 15px;
	}
	#container {
		width: 100%;
	}
	#hongkiat-form #aligned {
		
		float: none;
		display: block;
	}
	#hongkiat-form #aside {
		position:relative;
		float: none;
		}
	#hongkiat-form .txtinput1 {
		width: 11%;
		padding-left:39px;
	}
#hongkiat-form .txtinput2{
		width: 10%;
	}
#hongkiat-form .txtinput3 {
		width: 15%;
	}
#hongkiat-form .txtinput4 {
		width: 17.5%;
	}
#hongkiat-form .txtinput5{
		width: 21.1%;
	}
#hongkiat-form .txtinput6{
width: 27.5%;
}
#hongkiat-form .txtinput8{
margin-left:0;
width: 30.5%;
}
#hongkiat-form #aside2 {
		margin-left:0px;
		position:relative;
		float: none;
		}
	#prioritycase {
		float: left;
		display: block;
	}
	#recipientcase {
		float: left;
		display: block;
		margin-right: 55px;
	}
select.selmenu {
float: left;
width:10%;
}
select.selmenu1 {
width:15%;
}
#hongkiat-form textarea
{
width: 216px; height: 108px;
}
h2 { 
font-size: 2em; 
}
#hongkiat-form #aside1 {
width:16.3%;
    float: left;
    position: relative;
}
select.selmenu2 {
margin-left:10px;
}
}
@media screen and (max-width: 800px) {
	body {
		padding: 10px 15px;
	}
	#container {
		width: 100%;
	}
	#hongkiat-form #aligned {
		
		float: none;
		display: block;
	}
	#hongkiat-form #aside {
		position:relative;
		float: none;
		}
	#hongkiat-form .txtinput1 {
		width: 10%;
		padding-left:35px;
	}
#hongkiat-form input#name {
background: #fff url('images/user.png') 1px 0px no-repeat;
}
#hongkiat-form #aside2 {
		margin-left:0px;
		position:relative;
		float: none;
		}
#hongkiat-form .txtinput2{
		width: 10%;
	}
#hongkiat-form .txtinput3 {
		width: 15%;
	}
#hongkiat-form .txtinput4 {
		width: 17.5%;
	}
#hongkiat-form .txtinput5{
		width: 20.1%;
	}
#hongkiat-form .txtinput6{
width: 26.95%;
}
#hongkiat-form .txtinput8{
margin-left:0;
width: 28%;
}
	#prioritycase {
		float: left;
		display: block;
	}
	#recipientcase {
		float: left;
		display: block;
		margin-right: 55px;
	}
select.selmenu {
float: left;
width:9%;
}
#hongkiat-form #aside1 {
width:16.7%;
    float: left;
    position: relative;
}
select.selmenu1 {
width:15%;
}
#hongkiat-form textarea
{
width: 165px; height: 85px;
}
select.selmenu2 {
margin-left:10px;
}
h2 { 
font-size: 2em; 
}
}
@media screen and (max-width: 768px) {
	body {
		padding: 10px 15px;
	}
	#container {
		width: 100%;
	}
	#hongkiat-form #aligned {
		
		float: none;
		display: block;
	}
	#hongkiat-form #aside {
		position:relative;
		float: none;
		}
	#hongkiat-form .txtinput1, #hongkiat-form textarea {
		width: 5%;
	}
#hongkiat-form .txtinput2, #hongkiat-form textarea {
		width: 10%;
	}
#hongkiat-form .txtinput3, #hongkiat-form textarea {
		width: 15%;
	}
#hongkiat-form .txtinput4, #hongkiat-form textarea {
		width: 17.5%;
	}
#hongkiat-form .txtinput5, #hongkiat-form textarea {
		width: 21%;
	}
#hongkiat-form .txtinput6{
width: 20.2%;
}
#hongkiat-form .txtinput7{
margin-left:0;
width: 100%;
}
#hongkiat-form .txtinput8{
margin-left:0;
width: 30%;
}
#hongkiat-form #aside1 {
width:21.4%;
margin-left:30px;
    float: left;
}

#hongkiat-form #aside2 {
		margin-left:0px;
		position:relative;
		float: none;
		}
	#prioritycase {
		float: left;
		display: block;
	}
	#recipientcase {
		float: left;
		display: block;
		margin-right: 55px;
	}
select.selmenu {
float: left;
width:10%;
}
select.selmenu1 {
width:15%;
}
select.selmenu2 {
margin-left:5px;
}

#hongkiat-form textarea
{
width: 380px; height: 94px;
}

}

/* smaller screen dropoff *******/
@media only screen and (max-width: 550px) {
 	#hongkiat-form .txtinput, #hongkiat-form textarea {
		width: 80%;
	}
}

/* iPhone Landscape ********/
@media only screen and (max-width: 480px) {
	body {
		padding: 10px 0px;
	}
	select.selmenu {
		width: 190px;
	}
}

/* iPhone portrait *******/
@media only screen and (max-width: 320px) {
	body {
		padding: 10px 0px;
	}
#hongkiat-form #aside{
float: left;
width:100%;}
#hongkiat-form textarea  {
width: 239px; height: 101px;
}
 	#hongkiat-form .txtinput1,.txtinput{
		width: 50%;
               
	}
#hongkiat-form .txtinput2{
width: 70%;
}
#hongkiat-form .txtinput3{
width: 70%;
}
#hongkiat-form .txtinput4{
width: 70%;
}
#hongkiat-form .txtinput5{
width: 70%;
}
#hongkiat-form .txtinput6{
width: 70%;
}
#hongkiat-form .txtinput7{
width: 70%;
}
#hongkiat-form .txtinput8{
width: 70%;
}	#hongkiat-form #aligned {
		overflow: hidden;
	}
	select.selmenu {
		width: 25%;
		float:left;
	}
	#recipientcase {
		margin-right: 30px;
	}
select.selmenu {
width:20%;
}
select.selmenu1 {
width:50%;
}
select.selmenu2 {
margin-left:0%;
margin-bottom:10px;
width:50%;
}
#hongkiat-form #aside1 {
width:100%;
margin-left:0px;
    float: left;
}
#hongkiat-form #aside3 {
width:100%;
margin-left:0px;
    float: none;
}
#hongkiat-form #aside2 {
		margin-left:0px;
		position:relative;
		float: none;
		}
#hongkiat-form #aside2 {
		margin-left:0px;
		position:relative;
		float: none;
		}
}
